<phpunit backupGlobals='true'
         backupStaticAttributes='false'
         colors='true'
         convertErrorsToExceptions='true'
         convertNoticesToExceptions='true'
         convertWarningsToExceptions='true'
         processIsolation='false'
         syntaxCheck='false'
         bootstrap='vendor/autoload.php'>
    <testsuites>
        <testsuite name='Unit Tests'>
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name='Integration Tests'>
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Application</directory>
            <directory>./src/Domain</directory>
        </whitelist>
    </filter>
</phpunit>
